*{
    box-sizing: border-box;
}
.intro{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    background-color: lightgoldenrodyellow;
}

.heading,
.title{
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
    background-color: red;
    
}

.list{
    font-family:'Times New Roman', Times, serif;
    color: yellow;
    background-color: lightslategray;
    display: block;
    padding: 20px;
    padding-left: 50px;
    margin-left: 850px; 
    

}


body{
    background-color: lightgoldenrodyellow;
}


.title{
    display: block;
    text-align: center;
    padding: ;

}


.heading{
    display: block;
    padding: 20px;
    padding-left: 150px;
    margin-left: 850px;
}