*{
    box-sizing: border-box;
    background: purple;

}


.heading{ 
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    

}

.returnlink{
    display:block;
    color: aqua;
}

.intro{
    display:block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: larger;

}

.ingredients{
    color:red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.steps{
    color:red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.returntop{
    color:aqua;
}

