*{
    box-sizing: border-box;
    background: purple;

}


.heading{ 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: Black;
    

}

.returnlink{
    display:block;
    color: aqua;
}

.intro{
    display:block;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    background-color: purple;
    font-size: larger;

}

.ingredients{
    display: inline-block;
    background-color: purple;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.steps{
    display: inline-block;
    background-color: purple;
    color:red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



